* {
    font-family: Roboto;
    font-weight: bold;
}

.join-our-discord {
    width: 100%; 
    background-color: purple;
}

.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
}

.indented-span {
    display: table; margin: 0 auto;
}